<<<<<<< Updated upstream
@font-face {
    font-family: Inter;
    src: url(../assets/font/Inter-VariableFont_opsz\,wght.ttf);
}

* {
    font-family: var(--ff);
}
#container {
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    box-sizing: border-box;
    justify-content: center;
    padding: 1%;
    grid-gap: 1vw;
}

.editStatus {
    display: inline-block;
    max-width: 85%;
    box-sizing: border-box;
    white-space: normal;
    overflow-wrap: break-word;
    width: auto;
    padding: 2%;
    color: var(--fwhite);
    border-radius: 12px;
    margin-top: 1vh;
    font-size: var(--md);
    background-color: var(--colorLight);
    cursor: pointer;
=======
* {
    font-family: var(--ff);
}
#container {
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    box-sizing: border-box;
    padding: 2%;
}
.feedbackItem {
    background-color:rgba(0, 0, 0, 0.086);
    margin: 2%;
    padding: 4%;
    border-radius: 12px;
>>>>>>> Stashed changes
}