@font-face {
    font-family: Inter;
    src: url(../assets/font/Inter-VariableFont_opsz\,wght.ttf);
}

* {
    font-family: var(--ff);
}
#headline {
   color: #55B9E1;
    font-family: Inter;
    font-size: var(--font-subtitle);
    font-style: normal;
    font-weight: 600;
    line-height: 87.645%; 
    text-align: right;
    margin-right: 1vw;
}
hr {
    border: 0.5px solid #B3B3B3;

}
/* View of all feedback */
#container {
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    box-sizing: border-box;
    justify-content: center;
    padding: 1%;
    grid-gap: 1vw;
}

.editStatus {
    display: inline-block;
    max-width: 85%;
    box-sizing: border-box;
    white-space: normal;
    overflow-wrap: break-word;
    width: auto;
    padding: 2%;
    color: var(--fwhite);
    border-radius: 12px;
    margin-top: 1vh;
    font-size: var(--md);
    background-color: var(--colorLight);
    cursor: pointer;
}
* {
    font-family: var(--ff);
}
#container {
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    box-sizing: border-box;
    padding: 2%;
}
.feedbackItem {
    background-color:rgba(0, 0, 0, 0.086);
    margin: 2%;
    padding: 4%;
    border-radius: 12px;
}


/* View of logs */
#logContainer {
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    box-sizing: border-box;
    padding: 2%;
}
