#container {
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    box-sizing: border-box;
    padding: 2%;
}
.feedbackItem {
    background-color:rgba(0, 0, 0, 0.086);
    margin: 2%;
    padding: 2%;
}