


#logo {
    width: 70%;
    margin-left: 1vw;
}

.icon{
    transform: scale(.6);
    color: var(--Purple);
}
#ati{
    font-weight: bold;
}


header{
    position: relative;
    top: 0;
    min-height: 60px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 12.5fr 1fr;
    grid-auto-rows: 1fr;
    column-gap: 8px;
    align-items: center;
    
}
   
