#feedbackContainer {
    width: 40%;
    background-color: lightgrey;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5vh;
    padding: 1%;
    display: grid;
    grid-template-rows: auto;
}
#feedbackHeadline {
    font-size: 2rem;
    margin-bottom: 3vh;
}
i {
    font-size: 3rem;
    color: black;
    opacity: 0.3;
}
#uploadImage {
    width: 100%;
    display: grid;
    margin-bottom: 2%;
    height: 10vh;
    background-color: white;
    text-align: center;
    align-items: center;
}
#descriptionField {
    width: 100%;
    height: 30vh;
    resize: none;
    overflow-x: hidden;
    padding: 1.5%;
}
#submitFeedbackButton {
    width: auto;
    margin-top: 2vh;
    margin-bottom: 1vh;
    color: white;
    padding: 1%;
    text-align: center;
    font-size: 1.5rem;
    background-color: black;
    transition: 0.5s transform;
}
#submitFeedbackButton:hover {
    cursor: pointer;
    transform: translate(0,10px);
}
#thankYouMessage 
{
    font-size: 1.5rem;
    text-align: center;
}
#imagePreview {
    background-color: white;
    width: 100%;
    min-height: 10vh;
    display: none;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-top: 1vh;
    margin-bottom: 3vh;
    box-sizing: border-box;
    justify-content: center;
}
.preview-image {
    position: relative;
    width: 100%;
    height: 10vh;
    object-fit: contain;
    margin: 1vh;
}
.preview-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: relative;
}

.fa-circle-xmark {
   position: absolute;
top: -1vh;
right: -1vh;
  font-size: 1.3rem;
  color: red;
  background-color: white;
  border-radius: 50%;
  padding: 4px;
  cursor: pointer;
  opacity: 1;
}