body{
  font-family: var(--ff);  
  overflow-y: hidden;
}

#blob1, #blob2, #blob3{
    display: none;
}

#blob1{
    fill: var(--colorLight);
    position: absolute;
    left: 65%;
    top: 18%;
    z-index: 3;
}
#blob2{
    fill: var(--colorMedium);
    position: absolute;
    left: 60%;
    top: 35%;
    z-index: 2;
}
#blob3{
    fill: var(--colorDark);
    position: absolute;
    left: 65%;
    top: 25%;

}



#character{
position: absolute;
bottom: 0%;
left: 65%;
z-index: 4;
scale: 2.5;
top: 50%;

}

#greeting{
        background: var(--gradientMid);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;
        display: inline-block;
        font-size: var(--xxxll);
        width: 45%;
        line-height: 0.9;
        padding-bottom: 0.12em;
        overflow: visible;
        position: absolute;
        top: 15%;
        left: 5%;
}

#buttonWrapper{
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 
    15%;
    justify-content: space-evenly;
     position: absolute;
     top: 80%;
    left: 25%;
    color: black;
    text-align: center;
    
    
}

#buttonWrapper > a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    width: 90%;
   
    padding: 1px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 17px;

    font-weight: bold;
}


#buttonWrapper > a{

   background-color: var(--colorLight);
    background: linear-gradient(90deg, var(--colorLight), var(--colorDark));
    color: white;
}

#blank{
    background-color: grey;
    height: 50%;
    width: 75%;
    position: relative;
    top: 10%;

}

    .bubble {
    background-color: #eee;
    border: 2px solid #333;
    border-radius: 5px;
    color: #333;
    display: inline-block;
    font: 16px/24px sans-serif;
    padding: 12px 24px;
    position: relative;
}
.bubble:after,
.bubble:before {
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #eee;
    bottom: -20px;
    content: '';
    left: 50%;
    margin-left: -20px;
    position: absolute;
}

/* Styling for second triangle (border) */

.bubble:before {
    border-left: 23px solid transparent;
    border-right: 23px solid transparent;
    border-top: 23px solid;
    border-top-color: inherit; /* Can't be included in the shorthand to work */
    bottom: -23px;
    margin-left: -23px;

}

#text{
    background-color: orange;
    padding: 5%;
    color: var(--flgrey);
    font-family: var(--ff);
    font-style: italic;
    font-size: 2.2rem ;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 20%;
    line-height: 1;
      color: black; /* Text schwarz */
    /* Unterstreichung blau */
    border: 2px solid #FFF;
    background: linear-gradient(180deg, #FFF 0%, #E5E5E5 52.36%);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    scale: 1.2;
    padding-bottom: 3%;
    padding-top: 3%;

}

#text > #spn{
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    display: inline-block;
    transform: translateY(40px);

   
}