@import url('variables.css');
body{
  font-family: var(--ff);  
  font-size: 1rem;
  overflow-x: hidden;
}

#character{
position: absolute;
bottom: 0%;
left: 65%;
z-index: 4;
top: 53%;
transform-origin: center bottom;
transform: scale(.3) rotate(30deg);
top: 22%;
left: 71.9%;
z-index: -1;
}

h2 {
    font-size: 2rem;
}

#tt1{
    position: relative;
    left: 36%;
    color: var(--Blue);
    margin-top: 2.5%;
}



#tt2{
    font-size: 6.5rem;
    position: relative;
    left: 28%;
}
#tt3{
      position: relative;
      color: var( --lighter-Text);
    left: 30%;
    margin-top: -1%;

}


hr{
    border: none;
    height: 10px;
    background: linear-gradient(90deg, rgba(176, 199, 0, 1) 0%, rgba(86, 186, 225, 1) 25%, rgba(201, 79, 138, 1) 50%, rgba(224, 0, 26, 1) 75%, rgba(235, 160, 0, 1) 100%);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
     background-size: 300% 100%;
    background-position: 0% 50%;
    animation: gradientMove 6s linear infinite;
    will-change: background-position;
    width: 100vw;
}

#glaspart{
    width: 100%;
    height: 30px;    
    fill: rgba(255, 255, 255, 1);
    backdrop-filter: blur(200px);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10000;
}

#Button{
    position: relative;
    top: 5%;
    left: 37%;
    width: 20%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    background:
    linear-gradient(white, white, white,white, white) padding-box,
    linear-gradient(90deg, var(--Green), var(--Blue), var(--Purple), var(--Red), var(--Yellow)) border-box;
    border: 1.5px solid transparent;
    border-radius: 999px;
    box-shadow: 0 4px 16px rgba(0,0,0,.1);
    padding: 5px;
    
    text-decoration: none;
    color: var(--Text);
    margin-top: 1.5%;
    font-weight: bold;
}


@keyframes gradientMove{
    0%{ background-position: 0% 50%; }
    50%{ background-position: 100% 50%; }
    100%{ background-position: 0% 50%; }
}

#showoff{
  width: 70%;
  height: 60vh;
  position: relative;
  background-color: #D9D9D9;
 border-radius: 50px;
    margin-top: 1%;
    left: 15%;
    margin-top: 5%;
}

