/*reset*/
*{
    padding: 0;
    margin: 0;
}
/*Variablen*/
:root{
    --colorLight:hsl(202,78,49);
    --colorMedium:hsl(202,78,40);
    --colorDark:hsl(202,78,30);
    --ff:"../assets/font/Inter-Italic-VariableFont_opsz,wght.ttf";

}


a {
    text-decoration: none;
    color: white;
}
#seeAllFeedbacks {
    width: 20vw;
    margin-right: auto;
    margin-left: auto;
    display: block;
    color: black;
    text-align: center;
    font-size: 1.2rem;
    margin-top: 2vh;
}