

a {
    text-decoration: none;
    color: white;
}
#seeAllFeedbacks {
    width: 20vw;
    margin-right: auto;
    margin-left: auto;
    display: block;
    color: black;
    text-align: center;
    font-size: 1.2rem;
    margin-top: 2vh;
}

h1{
    color: var(--colorDark);
}

