/* Log In Employee CSS */
#loginHeader {
    color: var(--Blue, #55B9E1);
    font-family: Inter;
    font-size: 3rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
#loginContainer {
    position: relative;
    width: 27%;
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    margin-top: 20vh;
    justify-content: center;
    border-radius: 16px;
    background: #F2F2F2;
    margin-right: auto;
    margin-left: auto;
    padding: 2%;
   background:
    linear-gradient(white, white) padding-box,
    linear-gradient(110deg,var(--Blue), var(--Purple)) border-box;
    border: 2px solid transparent;
    box-shadow: 0 4px 16px rgba(0,0,0,.1);
    z-index: 11 ;
    box-sizing: border-box;
}
.loginInfo {
    color: #AEABAB;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 0.5vh;
    margin-bottom: 10vh;
}
input {
    width: 100%;
    outline: none;
    border: none;
    font-size: 1.3rem;
    border-radius: 8px;
    padding: 2%;
    background:
    linear-gradient(white, white, white,white, white) padding-box,
    linear-gradient(90deg, var(--Green), var(--Blue), var(--Purple), var(--Red), var(--Yellow)) border-box;
    border: 1.5px solid transparent;
    box-shadow: 0 4px 16px rgba(0,0,0,.1);

    margin-bottom: 5vh;
    box-sizing: border-box;
    
}
label {
    color: var(--Decent-Text, #595959);
    font-family: Inter;
    font-size: 1.15rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 1vh;
}
button {
    outline: none;
    border:none;
    width: 100%;
    padding: 2%;
    border-radius: 8px;
    background: var(--Blue);
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
button:hover {
    cursor: pointer;
    background: #339ACC;
}


/* Flecks Positioning */
.blueFleck {
    position: absolute;
    top: 3vh;
    left: 25vw;
    z-index: 10 ;
}
.pinkFleck {
    position: absolute;
    left: 40vw;
    top: 27 vh;
}  
.greenFleck {
    position: absolute; 
    left: 30vw;
    top: 25vh;
}