#header-wrapper {
    position: relative;
}


#header-wrapper  h1{
    font-size: var(--font-xxxl);
    color: var(--Text);
}

#header-wrapper  h2{
    font-size: var(--font-xl);
    color: var(--lighter-Text);
}