@font-face {
    font-family: InterX;
    src: url(../assets/font/Inter.ttf);
}

/*reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: InterX;
}
/*Variablen*/
:root{
    --colorLight:hsl(202,78,49);
    --colorMedium:hsl(202,78,40);
    --colorDark:hsl(202,78,30);

    --ff:"../assets/font/Inter.ttf";

    --fdark:hsl(0,0,0);
    --flighter:hsl(0,0,20);
    
    --spacing1:4px;
    --spacing2:8px;
    --spacing3:16px;
    --spacing4:20px;
    --spacing5:40px;
    --spacing6:80px;
    --spacing7:160px;

    --gradientMid: linear-gradient(180deg, var(--colorLight) 0%, var(--colorDark) 100%);
    --gradientTop: linear-gradient(180deg, var(--colorLight) 0%, var(--colorDark) 25%);
    --gradientBottom: linear-gradient(180deg, var(--colorLight) 0%, var(--colorDark)75%);


}
#logoNav {
    height: 3%;
    width: 3%;
}
#navigation {
    width: 100vw;
    box-sizing: border-box;
    background-color: rgba(128, 128, 128, 0.628);
    padding: 0.5%;
    padding-left: 1vw;
}
#createFeedbackButton {
    font-size: 2.5rem;
    width: 5vw;
    text-align: center;
    background-color:green;
    margin-right: auto;
    margin-left: auto;
    display: block;
    margin-top: 10vh;

}