

#nav{
    height: 50%;
    width: 50%;
    font-size: var(--sm);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 25px;
    border-radius: 25px;
    border: 1px solid var(--fwhite);
    opacity: 0.85;
    box-sizing: border-box;

     background:
    linear-gradient(white, white, white,white, white) padding-box,
    linear-gradient(90deg, var(--Green), var(--Blue), var(--Purple), var(--Red), var(--Yellow)) border-box;
    border: 1.5px solid transparent;
    border-radius: 999px;
    box-shadow: 0 4px 16px rgba(0,0,0,.1);
}
#logo {
    width: 70%;
    margin-left: 1vw;
}

.icon{
    transform: scale(.4);
    color: var(--Purple);
}

#nav > a {
    color: var(--fgrey);
 text-decoration: none;
 text-transform: uppercase;
 font-weight: bold;
 
}

header{
    position: relative;
    top: 0;
    min-height: 60px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 12.5fr 1fr;
    grid-auto-rows: 1fr;
    column-gap: 8px;
    align-items: center;
    
}