*{
    font-family: var(--ff);
}

body{
    height: 100vh;
    width: 100vw;
}

#speachBubble{
    /*von figma design*/
    background-color: blueviolet;
    height: 35%;
    width: 45%;
    position: relative;
    top: 10%;
    left: 10%;
    border-radius: 15px;
    
}
#speachBubble > h1 {
font-size: var(--lg);
}