
@font-face {
    font-family: Inter;
    src: url(../assets/font/Inter-VariableFont_opsz\,wght.ttf);
}
* {
    margin: 0;
    padding: 0;
    font-family: var(--ff);
}

:root {
  --Green: #B2C900FF;
  --Blue: #55B9E1FF;
  --Purple: #C9508BFF;
  --Red: #E2001AFF;
  --Yellow: #EAA100FF;
  --Text: #000000FF;
  --lighter-Text: #333333FF;

  --ff:'Inter';

  --font-title: 8rem;     
  --font-subtitle: 4rem;     
  --font-button: 2rem;       
  --font-text: 1rem;       
  --font-min: .5rem;     
}