name: Deploy GitHub Pages

on:
  push:
    branches:
      - main
      - frontend

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Decide output folder
        run: |
          if [ "${{ github.ref_name }}" = "main" ]; then
            echo "OUT=site" >> $GITHUB_ENV
          else
            echo "OUT=site/frontend" >> $GITHUB_ENV
          fi

      - name: Prepare output
        run: |
          mkdir -p $OUT
          cp -r ./* $OUT

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
