name: Deploy Pages

on:
  push:
    branches:
      - main
      - frontend

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Decide target folder
        run: |
          if [ "${{ github.ref_name }}" = "main" ]; then
            echo "TARGET_DIR=." >> $GITHUB_ENV
          else
            echo "TARGET_DIR=frontend" >> $GITHUB_ENV
          fi

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: .
          destination_dir: ${{ env.TARGET_DIR }}
          keep_files: true
